.button {
    -fx-background-color: WHITE;
    -fx-text-fill: BLACK;
    -fx-border-width: 0 0 2px 0;
    -fx-border-color: BLACK;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.button:hover {
    -fx-background-color: #cccccc;
    -fx-cursor: hand;
}